
.demo-wrap .demo {
  width: 341px;
  height: 200px;
  margin: 5px auto;
  position: relative;
  -webkit-user-select: none;
  float: left;
  border: 2px solid #f3f3f3;

}

.slide-wrap {
  width: 341px;
  height: 199px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide-wrap li {
  display: none;
  width: 113px;
  position: absolute;
  z-index: 0;
  overflow: hidden;

}

.slide-wrap .inner {
  position: relative;


}

.slide-wrap .inner a {
  text-decoration: none;
  border: none;
  outline: none;
}


.slide-wrap img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-top: 10px;
}

.slide-wrap .pos1 {
  display: block;
  width: 57px;
  height: 150px;
  top: 60px;
  left: 6%;
  z-index: 1;
}

.slide-wrap .pos2 {
  display: block;
  width: 57px;
  height: 150px;
  top: 35px;
  left: 20%;
  z-index: 2;
}

.slide-wrap .pos3 {
  display: block;
  width: 113px;
  height: 200px;
  top: 0;
  left: 35%;
  z-index: 3;
}

.slide-wrap .pos4 {
  display: block;
  width: 70px;
  height: 150px;
  top: 35px;
  right: 20%;
  z-index: 2;
}

.slide-wrap .pos5 {
  display: block;
  width: 70px;
  height: 150px;
  top: 60px;
  right: 6%;
  z-index: 1;
}

.slide-wrap .inner {
  overflow: hidden;
  position: relative;
}

.arrow {
    width: 15px;
    height: 15px;
    color: #ccc;
    position: absolute;
    top: 100px;
    z-index: 10;
    cursor: pointer;
    font-size: 17px;
    line-height: 13px;
    text-align: center;
    font-style: normal;
}

.prev {
  left: 320px;
}

.next {
  right: 320px;
}
