/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('../fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('../fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('../fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('../fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('../fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('../fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('../fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('../fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('../fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('../fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('../fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('../fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


body {
    font-family: 'Lato', sans-serif !important;
    font-size: 14px !important;
    line-height: 1.0 !important;
    color: #333 !important;
}


html {
  font-family: 'Lato', sans-serif !important;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

}

.navbar {
    position: relative;
    min-height: 30px !important;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.container {
    width: 90% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 20px;
    padding-top: 15px;
    font-size: 20px;  
    padding-bottom: 5px !important;
}

.wrapper{
   width: 100%;
   margin: 0 auto;
}

.wrapmiddle{
   float: left;
   width: 100%;

}
.middle{
   width: 1024px;
   margin: 0 auto;
}

.columna{
   width: 682px;
   float: left;
   margin-top: 10px;
}

.columnas{
   width: 341px;
   float: left;
   margin-top: 10px;

}

.scroll{
   width: 20px;
   float: left;
   margin-top: 60px;
    background-image: url(../images/scroll.png) !important;
    background-repeat: no-repeat !important;
    display: block;
    width: 25px;
    height: 120px;
}

.navbar-inverse {
    background-color: #FFF !important;
    border-color: #080808;
    text-align: right !important;
}


.title1{
    padding-top: 30px;
    font-size: 35px !important;
    padding-left: 130px;
    font-family: 'LatoWebBlack' !important;
}

.title2 {
    font-size: 35px !important;
    padding-left: 130px;
    font-family: 'LatoWebLight' !important;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #f3f3f3;
    font-family: 'LatoWebLight' !important;
    font-size: 20px !important;
    height: 495px;
}

.nav-pills > li > a {
    border-radius: 0px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff !important;
    background-color: #000!important;
    padding-left: 95px !important;
    background-image: url(../images/arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    width: 335px !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #000!important;
    padding-left: 95px !important;
    background-image: url(../images/arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    width: 335px !important;
    color:#FFF !important;
}

.margintop20 {
    margin-top:20px;
}

.points {
    border-bottom:1px dotted #000;
}

.nav-pills>li>a {
    border-radius: 0px;
    padding-left: 65px !important;
}

.marcas {
    margin-left:80px;
    margin-top: 200px;
    border: 2px solid #555;
    height: 44px;
    width: 165px;
    margin-top: 10px;
    color: #000;
    font-size: 30px;
    display: block;
    padding: 8px;
    background-image: url(../images/marcas.png);
    background-repeat: no-repeat;
    background-position:  center;
}

a {
    color: #000 !important;
    text-decoration: none;
}

    a:hover {
    color: #333;
    text-decoration: none;
}

.logo{ 
  height: 119px;
  width: 341px;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  margin-top: 50px;
}

.labial{ 
  height: 119px;
  width: 137px;
  background-image: url(../images/labial.png);
  background-repeat: no-repeat;
  margin-top: 50px;
}

.pto{ 
  height: 10px;
  width: 10px;
  background-image: url(../images/pto.png);
  background-repeat: no-repeat;
  padding-left:10px; 

}



/*secciones lo + vendido*/    

.ver
{ 
  height: 18px;
  width: 30px;
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  position:absolute; 
  bottom: 10px;
  right: 25px;
  z-index: 120;
}

.carousel-indicators {
    bottom: 5px !important;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 2px solid #000 !important;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #000 !important;
}


/*secciones prod estandar*/ 
.estandarPrecio 
{ 
  height:60px;
  width: 100%;
  position:absolute; 
  bottom: -30px;
  right: -60px;
  font-family: 'LatoWebLight';
  color: #FFF;
  font-size: 20px;
  cursor:hand !important;
  z-index: 100;
}

/*secciones prod estandares con hover*/ 
.cover-card1 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar2.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card1 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card1:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card2 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar3.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card2 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card2:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card3 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar4.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card3 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card3:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card4 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar5.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card4 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card4:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card5 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar10.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card5 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card5:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card6 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar7.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card6 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card6:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card7 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar8.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card7 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card7:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.cover-card8 {
    padding: 0px;
    margin: 0px;
    height:232px;
    width: 150px;
    float: left;
    margin-right: 5px;
    background-image: url(../images/estandar9.png);
    background-repeat: no-repeat;
    cursor: inherit;
}
.cover-card8 > p {
    background-color: rgba(6,6,6,0.0);
    color: rgba(6,6,6,0.0);
    height:100%;
    width: 150px;
    font-size: 12px;
    padding: 160px 0px 0px 10px;
}
.cover-card8:hover > p {
    background-image: url(../images/hoverPrecios.png);
    background-repeat: no-repeat;
    color: white;
    cursor:hand !important;
    font-family: 'LatoWebLight';
    cursor: inherit;
    border: 2px solid #000;
}

.estandar
{ 
  height:100%;
  width: 150px;
  float: left;
  margin-right: 5px;
} 


.estandarPrecio2 
{ 
  height:auto;
  width: 150px;
  position:absolute; 
  bottom:7px;
  right:160px;
  font-family: 'LatoWebLight';
  color: #FFF;
  font-size: 20px;
  cursor:hand !important;
} 
.estandarPrecio3 
{ 
  height:auto;
  width: 150px;
  position:absolute; 
  bottom:7px;
  right:2px;
  font-family: 'LatoWebLight';
  color: #FFF;
  font-size: 20px;
  cursor:hand !important;
} 

/*pie de pagina creditos*/
.footer{
    background-color: #f3f3f3;
    height: 300px;
    margin-top: 10px;
    padding: 50px 50px 10px 15px;
}

.col1{
    background-color: #000;
    padding: 10px 5px 10px 70px !important;
    color:#FFF;
    font-family: 'LatoWebLight';
    line-height: 20px;
    height: 150px;
}

.col2{
    background-color: #000;
    height: 70px;
}

.col3{
    border-right: 2px solid #a3a3a3;

}

.h1, h1 {
    font-size: 16px !important;
    font-family: 'LatoWebBold' !important;
    margin-top: 3px !important;
    margin-bottom: -3px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
    width: 150px !important;
    font-size: 16px !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #444444 !important;
    border-color: #444444 !important;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius:0px !important;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline !important;
    max-width: 100%;
    height: auto;
}

/*timeline*/

.titleWizard{
    margin-bottom: 20px; 
    padding-left:25px;
    font-size: 18px !important;
    font-family: 'LatoWebLight';
}

.titleWizard1{
    margin-bottom: 20px;
    padding-left:230px;
    font-size: 18px !important;
    font-family: 'LatoWebLight';
}

.timeline1 {
    width: 90% !important;
    padding-right: 15px;
    margin-right: auto;
    margin-left: 40px !important;
    padding-top: 15px;
    background-image: url(../images/timeline1.png);
    background-repeat: no-repeat;
    height: 26px;
}
.timeline2 {
    width: 90% !important;
    padding-right: 15px;
    margin-right: auto;
    margin-left: 40px !important;
    padding-top: 15px;
    background-image: url(../images/timeline2.png);
    background-repeat: no-repeat;
    height: 26px;
}
.timeline3 {
    width: 90% !important;
    padding-right: 15px;
    margin-right: auto;
    margin-left: 40px !important;
    padding-top: 15px;
    background-image: url(../images/timeline3.png);
    background-repeat: no-repeat;
    height: 26px;
}

/*slider detalle producto*/

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 30px;
    height: 30px;
    margin-top: 120px !important;
    font-size: 30px;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0)),to(rgba(0,0,0,.0000)))!important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0000) 100%) !important; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#FFF', GradientType=0) !important;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%) !important;
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%) !important;
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0000)),to(rgba(0,0,0,.0))) !important;
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.0) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0)!important;
    background-repeat: repeat-x;
}

.estandarPrecio1 
{ 
  height:60px;
  width: 100%;
  position:absolute; 
  bottom: -15px;
  right: -90px;
  font-family: 'LatoWebBold';
  color: #FFF;
  font-size: 40px;
  cursor:hand !important;
  z-index: 100;
}
.anadir{
    font-size: 20px;
    position:absolute; 
    top: 470px;
    right: 90px;
    color:#000;
    font-family: 'LatoWebLight';
}

.titleLi{
    list-style:none;
    padding-left:25px;
    font-size: 18px !important;
    font-family: 'LatoWebLight';
    line-height: 1.5;
 
}

.h2, h2 {
    padding-left:25px !important;
    font-size: 18px !important;
    font-family: 'LatoWebBlack' !important;
    margin-top: 3px !important;
    margin-bottom: 0px !important;
}

.textGen{
    padding-left:25px !important;
    font-size: 15px !important;
    font-family: 'LatoWebLight';
    line-height: 1.5;
}
.titleGen{
    font-size: 18px !important;
    font-family: 'LatoWebBlack' !important;
    line-height: 1.5;

}

.mag {
    width:100%;
    margin: 0 auto;
    float: none;
}
    
.mag img {
    max-width: 100%;
}
        
  

.magnify {
    position: relative;
    cursor: none
}

.magnify-large {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;

    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
       -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
             border-radius: 100%
}